{{template "base" .}} {{define "title"}}CSRF{{end}} {{define "main"}}
<h2>CSRF</h2>
<ol>
    <li>Easy</li>
    <ul style="list-style-type:disc">
        <li><a href="/csrf/easy1/">Very Simple</a></li>
        <li><a href="/csrf/easy2/">CSRF token validation depends on token being present</a></li>
        <li><a href="/csrf/easy3/">CSRF where token is not tied to user session</a></li>
    </ul>
    <li>Medium</li>
    <ul>
        <li><a href="/csrf/easy4/">CSRF where token is tied to non-session cookie</a></li>
    </ul>

</ol>
{{end}}