{{template "base" .}} {{define "title"}}directoryTrversal{{end}} {{define "main"}}
<h2>directoryTrversal</h2>
<ol>
    <li>Easy</li>
    <ul style="list-style-type:disc">
        <li><a href="/directoryTrversal/easy/">Very Simple</a></li>
        <li><a href="/directoryTrversal/easy2/">Eploit Using Absolute Path</a></li>
    </ul>
    <li>Medium</li>
    <ul style="list-style-type:disc">
        <li><a href="/directoryTrversal/medium1">Traversal sequences stripped</a></li>
        <li>
            <a href="/directoryTrversal/medium2/">Traversal sequences stripped with superfluous URL-decode</a></li>
        <li><a href="/directoryTrversal/medium3/">File path traversal, validation of start of path</a></li>
    </ul>
</ol>
{{end}}